.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.marker {
    background-image: url('assets/marker.png');
    background-size: cover;
    width: 22px;
    height: 32px;
    cursor: pointer;
}
